# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
datetime

# tests/linter
black
coverage
flake8
pytest
yapf

# utilities
six>=1.14
joblib
memoized-property
termcolor

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# web
streamlit
plotly





