# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# utilities
six>=1.14
joblib
memoized-property

# Insurance_claiming_forecasts
xlrd==1.2.0
openpyxl
datetime
ipywidgets
statsmodels
pmdarima
seaborn
matplotlib
streamlit
plotly
pybase64
statsmodels
