# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
datetime

# tests/linter
black
coverage
flake8
yapf

# utilities
six>=1.14
joblib
memoized-property

# web
streamlit
plotly
